{% extends 'base.html.twig' %}
{% block body %}
    <nav class="navbar">
        <div class="col-12">
            <span class="h2">New invoice</span>
            <a href="{{ path('index') }}" class="btn btn-outline-primary float-right" role="button">Back</a>

        </div>
    </nav>
    <div>
    </div>
{% endblock %}